@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

ul[role="list"],
ol[role="list"] {
  list-style: none;
}

html:focus-within {
  scroll-behavior: smooth;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img,
picture,
svg,
video,
canvas {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  font-style: italic;
  background-repeat: no-repeat;
  background-size: cover;
}

input {
  all: unset;
  /* 모든 기본 스타일 제거 */
  box-sizing: border-box;
  /* 박스 크기 조정 */
  font: inherit;
  /* 부모 요소의 폰트 스타일 상속 */
  width: 100%;
  /* 가로 너비 100% 설정 */
  outline: none;
  /* 기본 아웃라인 제거 */
}

input::placeholder {
  color: inherit;
  /* 플레이스홀더 텍스트 색상 상속 */
}

button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
    transition: none;
  }
}

body,
html {
  height: 100%;
  scroll-behavior: smooth;
}